# macOS files
.DS_Store

# environment files
.env

# logs
logs/
*.log

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
*.h5

# virtual environment
venv/
env/
myenv/
myvenv/
crewai-env/

# system files
*.swp

# vector stores
vector_db/
chapters_vector_db/
doc_vectorstore/
llama_vector_db/
chapters_vector_db_dir/
