ipykernel
virtualenv
numpy
pandas
scikit-learn
# gensim

# ANN
# tensorflow==2.15.0
pandas 
numpy 
scikit-learn
tensorboard
matplotlib
streamlit
scikeras

# Langchain
langchain
python-dotenv
langchain_community
pypdf
bs4 # to do scraping task
arxiv # free, open-access online repository of research papers
pymupdf # required for arxiv ArxivLoader internally uses PyMuPDF to read PDFs
wikipedia # for WikipediaLoader
langchain-text-splitters
langchain-openai # openai embedding
sentence-transformers # turning sentences, paragraphs, or documents into dense vector embeddings like HuggingFace
langchain_huggingface
faiss-cpu # for local, use gpu for cloud
langchain_chroma
langchain-core
langchain-ollama # to use ollama because from langchain_community.llms import Ollama is depricated


langchain_groq
fastapi # for langserve
uvicorn
langserve
sse_starlette
 

# siddhardhan 
nltk
seaborn

# 15 April
openai
google-genai
groq
ollama
langchain-community # use this when working with local model using ollama, or open source model or non openai model
langchain-openai # use this when you are calling OpenAI models like gpt-4 via API
langchain-google-genai
langchain-groq
langchain-ollama
llama-index
llama-index-llms-openai
llama-index-llms-google-genai
llama-index-llms-ollama
llama-index-llms-groq

#Chat bot with langchain and streamlit
langchain-community
langchain-groq
streamlit
python-dotenv